<div class="travel-index-top card">
    <img class="card-img" src="assets/travel_index_top">
    <div class="card-img-overlay text-center mt-4">
        <h2 class="mb-5">Travelを発見！</h2>
        <p>気になるトラベラーを見つけてフォローしよう！</p>
        <%= link_to "トラベラーを見つけに行く", users_path, class: "btn btn-success rounded-pill" %>
        <p class="m-2">OR</p>
        <p>あなたの旅の記録を残そう！</p>
        <%= link_to "Travelを作成する", new_travel_path, class: "btn btn-success rounded-pill" %>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <% @travels.each do |travel| %>
            <div class="col-lg-4 text-center mb-5" id="travel-index-content">
                <%= render 'layouts/travel_index', travel: travel %>
            </div>
        <% end %>
    </div>
</div>