<div class="container">
  <h1 class="mt-5 text-center">フォロー<span class="pl-3" style="color: blue;"><%= @count_followings %></span></h1>
  <div class="row">
    <% @followings.each do |user| %>
      <%= render 'users/user_index', user: user %>
    <% end %>
    <%= paginate @followings %>
  </div>
</div>