<div class="container">
  <h1 class="mt-5 text-center">フォロワー<span class="pl-3" style="color: blue;"><%= @count_followers %></span></h1>
  <div class="row">
    <% @followers.each do |user| %>
        <%= render 'users/user_index', user: user %>
    <% end %>
    <%= paginate @followers %>
  </div>
</div>