<div class="user-index-top card">
  <img class="card-img" src="assets/user_index_top">
  <div class="card-img-overlay text-center mt-5">
    <h2>トラベラーを見つけよう！</h2>
    <p class="mt-4">あなた好みのトラベラーを見つけてフォローしよう！</p>
    <p class="mt-5">フォローしてもらうためにプロフィールを充実させよう！</p>
    <p><%= link_to "プロフィール編集", edit_user_path(current_user), class: "btn btn-success rounded-pill" %></p>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <% @users.each do |user| %>
      <%= render 'users/user_index', user: user %>
    <% end %>
    <%= paginate @users %>
  </div>
</div>