// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#event-show-user {
    img {
        border-radius: 50%;
        background-color: white;
        width: 64px;
        height: 64px;
    }
}

.carousel-item {
    height: auto;
    img {
        display: block;
        height: auto;
        max-width: 100%;
    }
    
}