// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#event-show-user {
    img {
        border-radius: 50%;
        background-color: white;
        width: 64px;
        height: 64px;
    }
}

.carousel-item {
    background-color: black;
    border-radius: 5px;
    img {
        display: block;
        text-align: center;
        margin: 0 auto;
    }
 
}

.event-show-comment {
    width: 100%;
    height: auto;
    border: double 3px gray;
}

#map {
    width: 100%;
    height: 300px;
    border: double 3px gray;
}

.hidden_field-event-img-0 {
    display: none;
}

.hidden_field-event-img-1 {
    display: none;
}

.hidden_field-event-img-2 {
    display: none;
}

.event-form-img-0 {
    width: 150px;
    height: 150px;
}

.event-form-img-1 {
    width: 150px;
    height: 150px;
}

.event-form-img-2 {
    width: 150px;
    height: 150px;
}