// Place all the styles related to the travels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#travel-form-img {
    height: 250px;
    width: 250px;
}

.travel-index-top {
    width: 100%;
    height: 400px;
    background: #000;
    color: white;
    img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        opacity: .4;
    }
}

#travel-index-content {
    height: 565px;
    img {
        height: 200px;
        width: 100%;
        object-fit: contain;
        background: black;
    }
}

.search-form {
    background: rgba(255, 255, 255, 0.2);
    width: 20%;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
}

.travel-show-top {
    width: 100%;
    height: 400px;
    background: #000;
    color: white;
    .card-img {
        width: 100%;
        height: 400px;
        opacity: .3;
    }
}

#travel-show-event {
    height: 550px;
    img {
        height: 165px;
    }
    .address {
        height: 90px;
    }
}