// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-show {
    height: auto;
    width: 100%;
}

.user-show-profile {
    background: white;
}

.user-show-top {
    height: 350px;
    background: #000;
    .card-img {
        height: 350px;
        opacity: .7;
    }
}

#user-show-topcontents {
    height: 350px;
    img {
        border-radius: 50%;
        background-color: white;
        width: 64px;
        height: 64px;
    }
}

#user-show-travels {
    height: 485px;
    img {
        height: 200px;
    }
}


.user-index-top {
    width: 100%;
    height: 400px;
    background: #000;
    color: white;
    img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        opacity: .3;
    }
    .card-img-overlay {
        margin-top: 50%;
    }
}

#user-index-content {
    height: 535px;
    .card-img-top {
        height: 180px;
    }
    .card-img-overlay {
        height: 180px;
    }
    
}

.user-background-img {
    width: 350px;
    height: 250px;
}

.hidden_field-user-img {
    display: none;
}

.hidden_field-user-back-img {
    display: none;
}

#like-event {
    height: 550px;
    img {
        height: 200px;
    }
}

#user-index-card-body {
    position: relative;
    z-index: 15;
    background: white;
}

.user-profile-about {
    word-wrap: break-word;
    width: 100%;
}

.simple-calendar {
    .wday-0 {
        background: rgba(255, 0, 0, 0.26);
    }
    
    .wday-6 {
        background: rgba(0, 88, 242, 0.25);
    }
    
    .today {
        background: rgba(245, 255, 8, 0.12);
    }
}